<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">


<html lang="en">
<head>

    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>Make it Rain</title>
</head>
<body>
    <script type="text/javascript" src = {{url_for('static', filename = 'js/canvas.js')}}></script>
    <a href = "/"><img src={{url_for('static', filename = 'crest.png')}}></a>

  <div id="wrapper" class="center">
    {% block content %}{% endblock %}
  </div>
</body>
    <footer> 
        <a href="https://github.com/Lilisys/PurpleRain">&copy;Hey there footer</a>
    </footer> 

</html>